.dialog{
  padding: 0;
  border: 0;
  margin: auto 24px;
  background: transparent;
}

.dialog div:first-child {
  font: var(--paragraph-large); 
  padding: 12px 16px;
}

.dialog div:nth-child(2) {
  padding: 12px 16px;
  margin: 2px 0;
}

.dialog p {
  margin: 0;
}


/*dialog warning */
.dialog--warning div:first-child {
  color: var(--pirate-black);
  background-color: var(--vibrant-orange)
}

.dialog--warning div:nth-child(2) {
  background-color: var(--pirate-black);
  color: var(--snow);
  font: var(--paragraph);
}

/*dialog success*/
}

.dialog--warning p {
  margin: 0;
}

/*dialog decision*/
.dialog--decision button {
  flex: 1 1 0;
}

.dialog--decision > form {
  display: flex; 
  gap: 2px;
}