
.collapsible summary {
  font: var(--headline-5);
  display: flex;
  align-items: center
}

.collapsible summary > span {
  font:var(--paragraph-large);
  margin-right: 8px;
}

.collapsible p {
  font: var(--paragraph);
  margin: 8px 0 0 0;
}

.collapsible summary::marker {
  content: '';
}

.collapsible summary svg {
  margin-left: auto;
  margin-right: 8px;
  height: 1rem;
}

.collapsible details svg {
  transition: transform 1s ease;
}

.collapsible details:not([open]) svg {
  transform: rotate(-90deg);
}

.collapsible details ~ details {
  margin-top: 12px;
}