input {
  max-width: 100%;
}

.input--file::file-selector-button {
  background-color: var(--electric-blue-lemonade);
  color:snow;
  padding: 16px 48px;
  font: var(--paragraph-large);
  padding: 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
}

.input--file:disabled {
  cursor: wait;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { opacity: 0.3; }
  50% { opacity: 0.7; }
  100% { opacity: 0.3; } 
}