.scrollable-stepper-menu {
  background-color: var(--snow);
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

.scrollable-stepper-menu > div {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/*title card*/
.scrollable-stepper-menu__title-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollable-stepper-menu__title-card > h1 {
  font: var(--headline-1);
  flex: 0 0 auto;
  margin: 20px;
}

/*pick short video card*/
.scrollable-stepper-menu__item--hero-image {
  display: flex;
  flex-direction:column;
  height: 100%;
}

.scrollable-stepper-menu__item--hero-image > img {
  min-height: 0px;
  flex: 1 1 0;
}

.scrollable-stepper-menu__item--hero-image > :last-child {
  flex: 0 0 auto;
  padding: 0;
  margin: 16px 16px 60px 16px;
}