.scrollable-stepper-menu {
  background-color: var(--snow);
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

.scrollable-stepper-menu > div {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}