.scrollable-stepper-menu {
  background-color: var(--snow);
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

.scrollable-stepper-menu > div {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/*to do: this name is wrong by our naming convention, 
it should be scrollable-stepper-menu__item--title-card refactor it!*/
/*title card*/
.scrollable-stepper-menu__title-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.scrollable-stepper-menu__title-card > h1 {
  font: var(--headline-1);
  flex: 0 0 auto;
  margin: 20px;
}

/*pick short video card*/
.scrollable-stepper-menu__item--hero-image,
.scrollable-stepper-menu__item--cta {
  display: flex;
  flex-direction:column;
  height: 100%;
}

.scrollable-stepper-menu__item--hero-image > img,
.scrollable-stepper-menu__item--cta > img {
  min-height: 0px;
  flex: 1 1 0;
}

.scrollable-stepper-menu__item--hero-image > :last-child,
.scrollable-stepper-menu__item--cta > :last-child {
  flex: 0 0 auto;
  padding: 0;
  margin: 16px 16px 36px 16px;
}

.scrollable-stepper-menu__item--hero-image .swipe-indicator, 
.scrollable-stepper-menu__title-card .swipe-indicator {
  margin-top: 8px;
}

.scrollable-stepper-menu__item--cta .button--cta {
  margin-top: 28px;
}